src/main/resources/de/betoffice/database/test/database-master.dtd

<!ELEMENT dataset (
    bo_grouptype*,
    bo_team*,
    bo_teamalias*,
    bo_user*)>

<!ELEMENT bo_game EMPTY>
<!ATTLIST bo_game
    id CDATA #REQUIRED
    bo_date CDATA #IMPLIED
    bo_group_ref CDATA #IMPLIED
    bo_hometeam_ref CDATA #IMPLIED
    bo_guestteam_ref CDATA #IMPLIED
    bo_homegoals CDATA #IMPLIED
    bo_guestgoals CDATA #IMPLIED
    bo_isplayed CDATA #IMPLIED
    bo_gamelist_ref CDATA #IMPLIED
    bo_index CDATA #IMPLIED
    bo_datetime CDATA #IMPLIED
>

<!ELEMENT bo_gamelist EMPTY>
<!ATTLIST bo_gamelist
    id CDATA #REQUIRED
    bo_index CDATA #IMPLIED
    bo_date CDATA #IMPLIED
    bo_season_ref CDATA #IMPLIED
    bo_group_ref CDATA #IMPLIED
    bo_datetime CDATA #IMPLIED
>

<!ELEMENT bo_gametipp EMPTY>
<!ATTLIST bo_gametipp
    id CDATA #REQUIRED
    bo_homegoals CDATA #IMPLIED
    bo_guestgoals CDATA #IMPLIED
    bo_user_ref CDATA #IMPLIED
    bo_game_ref CDATA #IMPLIED
    bo_status CDATA #IMPLIED
    bo_tipps_index CDATA #IMPLIED
>

<!ELEMENT bo_group EMPTY>
<!ATTLIST bo_group
    id CDATA #REQUIRED
    bo_season_ref CDATA #REQUIRED
    bo_grouptype_ref CDATA #REQUIRED
>

<!ELEMENT bo_grouptype EMPTY>
<!ATTLIST bo_grouptype
    id CDATA #REQUIRED
    bo_name CDATA #REQUIRED
>

<!ELEMENT bo_season EMPTY>
<!ATTLIST bo_season
    id CDATA #REQUIRED
    bo_exportdirectory CDATA #IMPLIED
    bo_exporttemplate CDATA #IMPLIED
    bo_year CDATA #IMPLIED
    bo_name CDATA #IMPLIED
    bo_current_ref CDATA #IMPLIED
    bo_mode CDATA #IMPLIED
    bo_teamtype CDATA #IMPLIED
>

<!ELEMENT bo_team EMPTY>
<!ATTLIST bo_team
    id CDATA #REQUIRED
    bo_name CDATA #REQUIRED
    bo_longname CDATA #IMPLIED
    bo_logo CDATA #IMPLIED
    bo_teamtype CDATA #IMPLIED
>

<!ELEMENT bo_team_group EMPTY>
<!ATTLIST bo_team_group
    bo_group_ref CDATA #REQUIRED
    bo_team_ref CDATA #REQUIRED
>

<!ELEMENT bo_teamalias EMPTY>
<!ATTLIST bo_teamalias
    id CDATA #REQUIRED
    bo_aliasname CDATA #REQUIRED
    bo_team_ref CDATA #REQUIRED
>

<!ELEMENT bo_user EMPTY>
<!ATTLIST bo_user
    id CDATA #REQUIRED
    bo_name CDATA #IMPLIED
    bo_surname CDATA #IMPLIED
    bo_nickname CDATA #REQUIRED
    bo_email CDATA #IMPLIED
    bo_phone CDATA #IMPLIED
    bo_password CDATA #IMPLIED
    bo_automat CDATA #IMPLIED
    bo_excluded CDATA #IMPLIED
    bo_title CDATA #IMPLIED
>

<!ELEMENT bo_user_season EMPTY>
<!ATTLIST bo_user_season
    id CDATA #REQUIRED
    bo_season_ref CDATA #REQUIRED
    bo_user_ref CDATA #REQUIRED
    bo_wager CDATA #IMPLIED
>

